@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <p class="text-center display-6">Welcome to</p>
    <p class="text-center h1">Employee Management System</p>
    <p class="text-center">This is the Task I am assigned as a Practical Task for an interview.</p>
    <p class="h3">This System has Following Functionalities:</p>
    <ol>
            <li>Create Employee</li>
            <li>Read All Employee</li>
            <li>Read Employee By Id</li>
            <li>Update Employee</li>
            <li>Delete Employee</li>
    </ol>
    <div class="text-center">
        <a asp-controller="Employee" asp-action="Index" class="btn btn-primary">Go to Employee Functionalities</a>
    </div>
</div>
